.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__userName
        ユーザー名
      %ul.LeftHeader__iconList
        %li.LeftHeader__Icon
          = link_to '#' do
            = icon('fas', 'edit')
        %li.LeftHeader__Icon
          = link_to '#' do
            = icon('fas', 'cog')
  .GroupList
    .Group
      = link_to '#' do
        .Group__name
          グループ名
        .Group__message
          最新のメッセージ


//.side_bar
//  .side_bar__user-name
//    .side_bar__user-name__side-box
//    .side_bar__user-name__side-box__top-items
//      -# .side_bar__user-name__side-box__top-items__name
//      -# .side_bar__user-name__side-box__top-items__icons